<div class="basic-info">
  <h1><%= data.name %></h1>
  <p><%= data.description %></p>
  <div class="ui one statistics">
    <div class="blue statistic">
      <div class="value"><%= data.number_of_cards %></div>
      <div class="label">Cards</div>
    </div>
  </div>
  <div class="ui buttons">
    <a class="ui button" href="/#decks/<%= data.name %>/review">
      <i class="left unhide icon"></i>
      View
    </a>
    <div class="or"></div>
    <a class="ui button" href="/#decks/<%= data.name %>/cards">
      Edit
      <i class="right edit icon"></i>
    </a>
  </div>

  <hr>

  <% if (!data.reviewStats.setup) { %>
    <div class="ui button black large setup-review">Setup Review Schedule</div>
  <% } else { %>
    <div class="ui button black large start-review">Start Review</div>

    <div class="stats">
      <% for (period in data.reviewStats.stats) { %>
        <div class="ui grid">
          <div class="two wide column">
            <div class="label"><%= period %></div>
          </div>
          <div class="fourteen wide column">
            <div class="ui small black progress" data-percent="<%= Math.floor(100*data.reviewStats.stats[period] / data.number_of_cards) %>">
              <div class="bar"></div>
            </div>
          </div>
        </div>
      <% } %>
    </div>

  <% } %>
</div>
