<div class="section">
  <div class="right floated content autofill">
    <i class="camera retro middle aligned icon remove-card"></i>
  </div>
  <input class="title" name="title" type="text" value="<%= data.title %>" placeholder="Word" />
  <input class="sub-title" name="sub_title" type="text" value="<%= data.sub_title %>" placeholder="Noun" />
</div>

<hr />

<div class="section">
  <textarea class="explain" id="" name="explain"><%= data.explain %></textarea>
</div>

<div class="section">
  <textarea class="content" id="" name="content"><%= data.content %></textarea>
</div>

<div class="section">
  <div class="memory-aids-section">
    <div class="header">memory aids</div>
    <input class="memory-aids" name="memory_aids" type="text" value="<%= data.memory_aids %>" placeholder="What? It\'s a word.">
  </div>
</div>

<hr />
<div class="section connections">
</div>

<div class="operations">
  <i class="circular big inverted write icon operation submit"></i>
</div>

<div class="word-explain">
</div>
